[Desktop Entry]
Version=1.0
Name=Chromium Web Browser
GenericName=Web Browser
Comment=Browse the Web
Exec=chromium --no-sandbox %U
Icon=chromium
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupNotify=true
Actions=NewWindow;

[Desktop Action NewWindow]
Name=Open a New Window
Exec=chromium --no-sandbox --new-window %U
