[Desktop Entry]
Name=IntelliJ IDEA
Comment=IntelliJ IDEA Community Edition
Exec=/opt/intellij-idea/bin/idea.sh
Icon=/opt/intellij-idea/bin/idea.png
Terminal=false
Type=Application
StartupNotify=true